/cgpm2
/notebooks
/src/version.py

__pycache__/
*.py[cod]

env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

docs/_build/

*.npy

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*_minted-*
*.pdf


